@define-color fgcolor #ffffff;
@define-color bgcolor #1F1F1F;

@define-color color0 #3b6c80;

@define-color color1 #86aad7;
/* light blue */
@define-color color2 #ff9e64;
/* orange */
@define-color color3 #ee9ff9;
/* purple */
@define-color color4 #ff7a7a;
/* light red */


* {
  font-family: 'Jetbrains Mono Nerd Font';
  font-size: 10px;
  font-weight: bold;
  min-height: 16px;
}

window {
  border-radius: 15px 15px 15px 15px;
}

window#waybar {
  background-color: alpha(@bgcolor, 0.0);
  transition-duration: .5s;
  border-radius: 7px;
}

#waybar.empty #window {
  background: none;
}

.modules-left {
  margin-left: 2px;
  padding-right: 8px;
}

.modules-right {
  margin-right: 2px;
  padding-left: 10px;
}

.modules-center {
  padding-left: 4px;
  padding-right: 4px;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: alpha(@bgcolor, 0.7);
  border-radius: 7px;
  margin: 2px;
}

#language {
  color: white;
  padding-left: 8px;
}

#workspaces {
  background: transparent;
  margin-right: -3px;
  margin-left: -3px;
  opacity: 0.88;
}

#workspaces button {
  color: grey;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  border-radius: 9px;
  box-shadow: none;
  text-shadow: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  border: none;
  background: transparent;
  color: white;
  font-weight: bold;
  border-radius: 15px;
}

#workspaces button.active {
  background: transparent;
  color: @fgcolor;
  font-weight: bold;
}

#clock {
  background-color: transparent;
  color: @fgcolor;
  border-radius: 0px 0px 0px 0px;
}

#network {
  background-color: transparent;
  color: @fgcolor;
  padding-right: 14px;
}

#battery {
  background-color: transparent;
  color: @fgcolor;
}

#battery.charging,
#battery.plugged {
  color: white;
  background-color: transparent;
}

#battery.warning {
  color: @color2;
}

#battery.critical {
  color: @color4;
}

#custom-updater {
  color: @fgcolor;
}

#custom-sep {
  color: #606060;
  margin-left: 4px;
  margin-right: 4px;
}

#custom-whitesep {
  color: @fgcolor;
  margin-left: 4px;
  margin-right: 4px;
}

#custom-bracketl,
#custom-bracketr {
  color: @fgcolor;
  margin-left: 4px;
  margin-right: 4px;
}

@keyframes blink {
  to {
    background-color: transparent;
    color: white;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: red;
}

label:focus {
  background-color: transparent;
}

#cpu {
  color: @fgcolor;
}

#temperature {
  color: @fgcolor;
}

#memory {
  color: @fgcolor;
}

#disk {
  color: @fgcolor;
}

#disk,
#cpu,
#memory {
  padding-right: 7px;
}

#temperature.critical {
  color: @color4;
}

#pulseaudio {
  background-color: transparent;
  color: @fgcolor;
  margin-right: 7px;
}

#custom-menu {
  color: @fgcolor;
  padding-left: 8px;
}

#custom-user {
  color: @fgcolor;
  padding-left: 8px;
}

#custom-firefox {
  color: @fgcolor;
}
