/* vim: set filetype=css : */

/* everblush */
* {
  bg-col: #00000085;
  bg-col-light: #1e2229;
  border-col: #9f9f9f99;
  transparent: #00000000;
  selected-col: #1e2229;
  blue: #67b0e8;
  cyan: #6cbfbf;
  green: #8ccf7e;
  magenta: #dd7aec;
  red: #e57474;
  yellow: #e5c76b;
  hoverbutton: #3b6c80;
  fg-col: #c4c5c8;
  fg-col2: #f8f8f8;
  grey: #38474a;
  width: 400;
  placeholder-color: #808080;
placeholder-text: " awesome!";
}
